---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
  {% include comment-section.html url=page.url %}
</article>
<article>
  <p font-size=0.9 style="text-align:center">"Do all the other things, the ambitious things—travel, get rich, get famous, 
	  innovate, lead, fall in love, make and lose fortunes… but as you do, to the extent that you can, err in the direction of kindness."
	  <b><i> -  George Saunders</i></b></p>
  <h5 id="DarkModetext">Light Mode</h5>
    <div>
	    <button class="button" type="button" onclick="SwitchMode()">
			<i class="fa-solid fa-circle-half-stroke"></i>
	    </button>
    </div>
    <script>
      let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)"); 
      let theme = sessionStorage.getItem('theme');
        
      var content = document.getElementById("DarkModetext");
      var element = document.body;
      if (systemInitiatedDark.matches) {
          element.className = "dark-mode";
          content.innerText = "Dark Mode";
      } else {
          element.className = "light-mode";
          content.innerText = "Light Mode";
      }
        
      function prefersColorTest(systemInitiatedDark) {
        if (systemInitiatedDark.matches) {
  	        element.className = "dark-mode";		
   	        content.innerText = "Dark Mode";
   	        sessionStorage.setItem('theme', '');
        } else {
  	        element.className = "light-mode";
            	content.innerText = "Light Mode";
            	sessionStorage.setItem('theme', '');
        }
      }
      systemInitiatedDark.addListener(prefersColorTest);

      function SwitchMode() {
        let theme = sessionStorage.getItem('theme');
	    if (theme === "dark") {
		    element.className = "light-mode";
		    sessionStorage.setItem('theme', 'light');
		    content.innerText = "Light Mode";
	    } else if (theme === "light") {
		    element.className = "dark-mode";
		    sessionStorage.setItem('theme', 'dark');
		    content.innerText = "Dark Mode";
	    } else if (systemInitiatedDark.matches) {	
		    element.className = "light-mode";
		    sessionStorage.setItem('theme', 'light');
		    content.innerText = "Light Mode";
	    } else {
		    element.className = "dark-mode";
		    sessionStorage.setItem('theme', 'dark');
		    content.innerText = "Dark Mode";
	    }
      }
        
      if (theme === "dark") {
	    element.className = "dark-mode";
	    sessionStorage.setItem('theme', 'dark');
	    content.innerText = "Dark Mode";
      } else if (theme === "light") {
	    element.className = "light-mode";
	    sessionStorage.setItem('theme', 'light');
	    content.innerText = "Light Mode";
      }
    </script>
  </article>
